<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>400 Bad Request</title>
</head>
<body>
     <h1>Bad Request</h1>
     <p>An illegal or malformed request was detected</p>     
     <p>Click the button below to go back home</p>
     <form action="/login" method="GET">
        <button id="GetData">Login</button>  
    </form>   
</body>
</html>





